# ACS disability dashboard

## Setup

### Imports

In [1]:
import pandas as pd

### Load data

In [6]:
df = pd.read_csv('/home/mghenis/usa_00009.csv.gz')

In [7]:
df.head()

,RECTYPE,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,STATEFIP,COUNTYFIP,MET2013,CITY,...,EMPSTATD,OCC,IND,DIFFREM,DIFFPHYS,DIFFMOB,DIFFCARE,DIFFSENS,DIFFEYE,DIFFHEAR
0,H,2017,201701,1,2017000000016,206,1,0,0,0,...,30,0,0,2,2,1,1,1,1,1
1,H,2017,201701,2,2017000000031,45,1,0,0,0,...,10,350,8090,1,1,1,1,1,1,1
2,H,2017,201701,3,2017000000061,136,1,0,0,0,...,10,6260,770,1,1,1,1,1,1,1
3,H,2017,201701,3,2017000000061,136,1,0,0,0,...,30,0,0,1,1,1,1,1,1,1
4,H,2017,201701,3,2017000000061,136,1,0,0,0,...,30,0,0,1,1,1,1,1,1,1

In [11]:
df.PERWT.sum()

325719178

In [14]:
df.columns = map(str.lower, df.columns)

In [15]:
df.columns

Index(['rectype', 'year', 'sample', 'serial', 'cbserial', 'hhwt', 'statefip',
       'countyfip', 'met2013', 'city', 'gq', 'pernum', 'perwt', 'sex', 'age',
       'race', 'raced', 'hispan', 'hispand', 'educ', 'educd', 'degfield',
       'degfieldd', 'degfield2', 'degfield2d', 'empstat', 'empstatd', 'occ',
       'ind', 'diffrem', 'diffphys', 'diffmob', 'diffcare', 'diffsens',
       'diffeye', 'diffhear'],
      dtype='object')

In [23]:
df.diffmob.unique()

array([1, 2, 0])

In [34]:
df.diffmob.value_counts()

1    2468404
0     538204
2     183432
Name: diffmob, dtype: int64

In [26]:
df[df.diffmob == 0].iloc[1]

rectype                   H
year                   2017
sample               201701
serial                    4
cbserial      2017000000158
hhwt                     19
statefip                  1
countyfip                 0
met2013                   0
city                      0
gq                        1
pernum                    5
perwt                    27
sex                       2
age                       3
race                      2
raced                   200
hispan                    0
hispand                   0
educ                      0
educd                     2
degfield                  0
degfieldd                 0
degfield2                 0
degfield2d                0
empstat                   0
empstatd                  0
occ                       0
ind                       0
diffrem                   0
diffphys                  0
diffmob                   0
diffcare                  0
diffsens                  1
diffeye                   1
diffhear                  1
Name: 9, dtype: object

In [ ]:
GROUPS = ['sex', 'age', 'race', 'hispan', 'educ', 'degfield',
          'diffrem', 'diffphys', 'diffmob', 'diffcare', 'diffsens',
          'diffeye']
summary = df[[]]